@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em { font-style: italic; }

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-y: hidden;
}

a { 
    display: inline-block;
    text-decoration: none; 
}

li {
    display: inline-block;
    list-style-type: none;
}

/*for wrapper*/
.wrapper {
    max-width: 1360px;
    width: 86%; 
    margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { background-color: #423a3afc; }

header h1 {
    text-align: left;
    padding: 0;
    display: inline-block;
    margin-right: 25px;
}

header h1 a img { width: 150px; }
nav { display: inline-block; }
.hamburger { display: none; }

.menu li a {
    text-transform: capitalize;
    padding: 12px 0;
    margin-right: 36px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.menu li a.home.active,
.menu li a.club-list.active,
.menu li a:hover {
    border-bottom: 2px solid;
    -webkit-border-bottom: 2px solid;
    -moz-border-bottom: 2px solid;
    -ms-border-bottom: 2px solid;
    -o-border-bottom: 2px solid;
}

.logout-btn { 
    display: inline-block; 
    position: relative;
    left: 47.15%;
}

.logout {
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border: 2px solid;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.logout:hover {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    background-color:white;
    color: black;
    border-color: rgb(255, 251, 251);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*Login page style*/
.login-page {
    width: 100%;
    background-image: url(../images/login-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 { 
    padding-top: 100px;
    text-align: center;
}

h1 a img { width: 200px; }
.login { text-align: center; }

.login-btn {
    text-transform: capitalize;
    padding: 6px 27px;
    border: 2px solid rgb(255, 254, 254);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    background: rgb(255, 254, 254);;
    color: rgb(27, 26, 26);
    font-size: 14px;
    font-weight: bold;
}

.login-btn:hover {
    background: transparent;
    border: 2px solid;
    color: rgb(255, 254, 254);
    transition: .4 ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.modal {
    display: none;
    width: 26%; 
    padding:0 50px;
    position: fixed;
    z-index: 1;  
    left: 420px;
    top: 20%;
    background-color: rgba(0,0,0,.4);
    color: rgb(255, 254, 254);
}

.close-mod {
    text-indent: -9999px;
    position: relative;
    float: right;
}

.close-mod:before {
    content: "\f00d";
    text-indent: 0;
    position: absolute;
    top: 20px;
    left: 40%;
    font-family: "Fontawesome";
    font-size: 18px;
}

.close-mod:hover,
.close-mod:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.login-form { padding: 40px 25px; }

h2 { 
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;  
}

.up { text-transform: uppercase; }
.cap {text-transform: capitalize; }

label { 
    display: block;
    font-size: 14px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border: 0;
    margin: 4px 0;
}

.username,
.password { margin-top: 20px; }

.username:after,
.password:after {
    content: "";
    width: 100%;
    height: 2px;
    padding: 0 7px;
    display: block;
    background-image: linear-gradient(to right,rgb(43, 140, 153),rgb(0, 247, 255));
}

.email-error1,
.email-error2,
.pass-error1,
.pass-error2 {
    opacity: 0;
    font-size: 13px;
    color: #ff1e1e;
    font-weight: bold;
    display: block;
    font-family: monospace;
}

.email-error1,
.pass-error1 { position: absolute; }

.submit-form { 
    text-align: center;
    margin-top: 20px;
 }
 
.submit { 
    text-transform: uppercase;
    padding: 6px 30px;
    border: 3px solid rgb(44, 199, 226);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: rgb(44, 199, 226);
    color: white;
    font-weight: bold;
    font-family: serif;
}

.submit:hover {
    background:transparent;
    border: 3px solid;
    border-color:  rgb(255, 254, 254);
    transition: .4 ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus { outline: transparent; }
/*index-page style end*/

/*club list style start*/
.list-dropdown { 
    margin: 45px 0;
    height: 100%;
}

.list-dropdown h2{ 
    text-align: left;
    font-size: 30px;
    word-spacing: 5px;
}

.clubs { margin-bottom: 80px; }

.clubs input[type="text"] {
    padding: 10px;
    border: 1px solid;
    font-size: 18px;
}

.clubs ::placeholder { font-size: 14px; }
.load-more { display: none; }
.mainList { text-align: center;}


.clubList {
    width: 182px;
    height: 80px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #5f3061;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 18px;
}

.detlist { vertical-align: middle; }
.dates {
    display: block;
    text-align: center;
    font-weight: bold;
    color: rgb(1, 128, 128);
}

.teamsN,
.scoreN { 
    color: black;
    font-size: 14px;
}

.teams,
.score { 
    text-align: center;
    margin-top: 10px;
}

.t1,
.t2 {
    float: left;
    color: rgb(27, 26, 26);
    text-transform: capitalize;
    color: rgb(5, 142, 255);
    
}

.t1,
.t2,
.s1,
.s2 {
    display: inline-block;
    text-align: left;
    font-family: serif;
    font-size: 14px;  
}
.s1,
.s2 {
    color: rgb(235, 0, 0);
    float: right;
}
/*club list style end*/
.page-title {}
.page-title h2 {

}

/*js class*/
.error { opacity: 1; }
.btn-disp { display: block; }
.btn-nodisp { display: none; }
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
    width: 100%;
    background-color: #423a3afc;
}

.logo h5,
.footer-nav,
.social-links { text-align: center; }

.logo h5 a img { width: 120px; }
.footer-nav { margin: 10px 0; }
.footer-nav li { margin: 0 15px; }

.footer-nav li a {
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.footer-nav li a:hover { text-decoration: underline; }
.social-links { padding: 10px 0; }

.twitter,
.facebook,
.instagram,
.snapchat {
    text-indent: -9999px;
    display: inline-block;
    position: relative;
}

.twitter:before { content: "\f099"; }
.facebook:before { content: "\f09a"; }
.instagram:before { content: "\f16d"; }
.snapchat:before {
     content: "\f2ac";
     border: 1px solid;
}

.twitter:hover:before { color:rgb(29,161,242); }
.facebook:hover:before { color:rgb(16, 134, 245); }
.instagram:hover:before { color:rgb(231, 42, 152); }
.snapchat:hover:before { color:rgb(255, 230, 5); }

.twitter:before,
.facebook:before,
.instagram:before,
.snapchat:before {
    text-align: center;
    text-indent: 0;
    width: 15px;
    padding: 5px 6px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 16px;
    float: right;
    background: #ffffff;
    color: rgb(61, 57, 57);
    font-family: "Fontawesome";
    font-size: 16px;
    border: 3px solid #6967676b;
    border-color: #a7a0a0; 
}

.copyright {
    background: #90e0e494;
    padding: 10px 0;
    text-align: center;
}

.copyright span {
    text-transform: capitalize;
    font-size: 12px;
    color: #dedede;
}

.copyright .up { text-transform: uppercase; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1024px) {
    /*login page media-query*/
    h1 a img { width: 160px; }
    .login-btn { padding: 4px 15px; }
    .modal { left: 330px; }
    h2 { font-size: 15px; }
    label { font-size: 12px; }
    .email,
    .pass { font-size: 12px; }
}  

@media only screen and (max-width: 995px) {
    /*login page media-query*/
    h1 a img { width: 140px; }
    .login-btn { padding: 3px 13px; }
}

@media only screen and (max-width: 768px) {
    /*login page media-query*/
    h1 a img { width: 130px; }
    h2 { font-size: 10.6px; }
    .modal { left: 240px; }
    label { font-size: 10px; }

    .email,
    .pass { font-size: 10px; }

    .email-error1,
    .email-error2,
    .pass-error1 {
        font-weight: lighter; 
        font-size:9px;
    }

    .pass-error2 { font-size: 7.56px; }
}

@media only screen and (max-width: 540px) {
    /*login page media-query*/
    .modal { 
        left: 160px;
        top: 10%;
    }

    .login-form { padding: 20px 0; }

    .submit { 
        padding:2px 10px;
        font-size: 12px; 
    }

    .close-mod:before {
        float: right;
        top: 0;
        font-size: 12px;
    }
}
@media only screen and (max-width: 320px) {
    /*login page media-query*/
    .login-page { background-size: 320px 418px; }

    .modal { 
        width: 175px;
        top: 5%;
        left: 29px;
        margin: 0 auto;
    }
}