@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em { font-style: italic; }

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-y: hidden;
}

a { 
    display: inline-block;
    text-decoration: none; 
}

li {
    display: inline-block;
    list-style-type: none;
}

/*for wrapper*/
.wrapper {
    max-width: 1360px;
    width: 86%; 
    margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { background-color:rgba(66, 58, 58, .98); }

header h1 {
    text-align: left;
    padding: 0;
    display: inline-block;
    margin-right: 25px;
}

header h1 a img { width: 100px; }
nav { display: inline-block; }
.hamburger { display: none; }

.menu li a {
    text-transform: capitalize;
    padding: 12px 0;
    margin-right: 36px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.menu li a.home.active,
.menu li a.club-list.active,
.menu li a:hover {
    border-bottom: 2px solid;
    -webkit-border-bottom: 2px solid;
    -moz-border-bottom: 2px solid;
    -ms-border-bottom: 2px solid;
    -o-border-bottom: 2px solid;
}

.logout-btn { 
    display: inline-block; 
    position: relative;
    left: 47.15%;
}

.logout {
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border: 2px solid;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.logout:hover {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-color: rgb(255, 251, 251);
    background-color:rgb(255, 254, 254);
    color: black;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*Login page style*/
.login-page {
    width: 100%;
    background-image: url(../images/login-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 { 
    padding-top: 100px;
    text-align: center;
}

h1 a img { width: 200px; }
.login { text-align: center; }

.login-btn {
    text-transform: capitalize;
    padding: 6px 27px;
    border: 2px solid rgb(255, 251, 251);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    background: rgb(255, 254, 254);;
    color: rgb(27, 26, 26);
    font-size: 14px;
    font-weight: bold;
}

.login-btn:hover {
    background: transparent;
    border: 2px solid;
    color: rgb(255, 254, 254);
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.modal {
    width: 26%; 
    padding:0 50px;
    display: none;
    position: fixed;
    z-index: 1;  
    left: 420px;
    top: 20%;
    background-color: rgba(0,0,0,.4);
    color: rgb(255, 254, 254);
}

.close-mod {
    text-indent: -9999px;
    float: right;
    position: relative;
}

.close-mod:before {
    content: "\f00d";
    text-indent: 0;
    position: absolute;
    top: 20px;
    left: 40%;
    font-family: "Fontawesome";
    font-size: 18px;
}

.close-mod:hover,
.close-mod:focus {
    text-decoration: none;
    cursor: pointer;
    color: #bbb;
}

.login-form { padding: 40px 25px; }

h2 { 
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;  
}

.up { text-transform: uppercase; }
.cap {text-transform: capitalize; }

label { 
    display: block;
    font-size: 14px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    margin: 4px 0;
}

.username,
.password { margin-top: 20px; }

.username:after,
.password:after {
    content: "";
    width: 100%;
    height: 2px;
    padding: 0 7px;
    display: block;
    background-image: -o-linear-gradient(to left,rgb(43, 140, 153),rgb(0, 247, 255));
    background-image: -webkit-linear-gradient(to right,rgb(43, 140, 153),rgb(0, 247, 255));
    background-image: -moz-linear-gradient(to right,rgb(43, 140, 153),rgb(0, 247, 255));
    background-image: linear-gradient(to right,rgb(43, 140, 153),rgb(0, 247, 255));
}

.email-error1,
.email-error2,
.pass-error1,
.pass-error2 {
    display: block;
    opacity: 0;
    color: #ff1e1e;
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;   
}

.email-error1,
.pass-error1 { position: absolute; }

.submit-form { 
    text-align: center;
    margin-top: 20px;
}
 
.submit { 
    text-transform: uppercase;
    padding: 6px 30px;
    border: 3px solid rgb(44, 199, 226);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: rgb(14, 207, 241);
    color: white;
    font-weight: bold;
    font-family: serif;
}

.submit:hover {
    border: 3px solid;
    border-color:  rgb(255, 254, 254);
    background:transparent;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus { outline: transparent; }
/*index-page style end*/
/*home-page style start*/
section { text-align: center; }

.banner {
    width: 100%;
    height: 500px;
    position: relative;
    background-image:  linear-gradient(to bottom, rgba(26, 24, 24, 0.52), rgba(121, 54, 102, 0.73)),
    url(../images/banner1.jpg);
    background-image: -webkit-linear-gradient(to bottom right,rgba(26, 24, 24, 0.52),rgba(121, 54, 102, 0.73),url(../images/banner1.jpg));
    background-image:  -o-linear-gradient(to top, rgba(26, 24, 24, 0.52), rgba(121, 54, 102, 0.73)),
    url(../images/banner1.jpg);
    background-size: cover;
}

.tag-line { padding: 62px; }
.slider { margin: 0 auto; }

.slides {
    position: absolute;
    left: 0;
    right: 0;
    opacity:1;
    -webkit-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; 
}

.slides.fadeout { opacity:0; }

.slides h2 {
    padding: 50px 0;
    font-size: 67px;
    color: white;
}

.about-league { margin: 50px 0; }

.about-league h3,
.history-of-league h3,
.awards-div h3 {
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 25px;
    display: inline-block;
    background: -webkit-linear-gradient(left top, right top,from(rgb(192, 3, 250)),to(rgb(56, 56, 56)));
    background:  -o-linear-gradient(left,rgb(192, 3, 250),rgb(56, 56, 56));
    background:  -moz-linear-gradient(left,rgb(192, 3, 250),rgb(56, 56, 56));
    background:  linear-gradient(to right,rgb(192, 3, 250),rgb(56, 56, 56));
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    font-family: serif;
    font-size: 40px;
    font-weight: bold;
}

.about-league p {
    text-align: center;
    padding: 0 20px;
    font-size: 22px;
    font-family: serif;
}

.history {
    padding: 50px;
    background: #f5f5f5;
}

.history-of-league p {
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-family: serif;
}

.awards-div { 
    margin-top: 50px;
    text-align: center;
}

.awards-div h3 { padding-bottom: 0; }

.awards { 
  width: 100%;
  height: 300px;
}

.award-content {
    text-align: center;
    width: 70%;
    padding-top: 8%;
    display: inline-block;
}

.award-content {
    font-size: 20px;
    font-family: serif;
}

figure { float: right; }

figure img { 
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
/*home-page style end*/
/*club list style start*/

.list-dropdown { 
    height: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.list-dropdown h2{ 
    text-align: left;
    word-spacing: 5px;
    font-size: 30px;
}

.clubs { margin-bottom: 30px; }

.clubs input[type="text"] {
    padding: 10px;
    border: 1px solid;
    font-size: 18px;
}

.clubs ::-webkit-input-placeholder { font-size: 14px; }
.clubs ::-moz-placeholder { font-size: 14px; }
.clubs :-ms-input-placeholder { font-size: 14px; }
.clubs ::-o-input-placeholder { font-size: 14px; }
.clubs ::placeholder { font-size: 14px; }
.load-more { display: none; }
.mainList { text-align: center; }
.club-results { margin-bottom: 50px; }

.club-results h3 {
    text-align: left;
    padding-bottom: 34px;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
}

.results { text-align: center; }

.results button {
    text-transform: capitalize;
    padding: 6px 12px;
    border: 2px solid #11bcce;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    background: #11bcce;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.clubList {
    width: 182px;
    height: 80px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #5f3061;
    border-radius: 5px;
    margin-bottom: 18px;
    -webkit-box-shadow: 6px 6px 6px black;
    -ms-box-shadow: 6px 6px 6px black;
    -moz-box-shadow: 6px 6px 6px black;
    -o-box-shadow: 6px 6px 6px black;
    box-shadow: 6px 6px 6px black;
    display: inline-block;
}

.detlist { vertical-align: middle; }

.dates {
    text-align: center;
    display: block;
    color: rgb(1, 128, 128);
    font-weight: bold;
}

.teamsN,
.scoreN { 
    color: black;
    font-size: 14px;
}
.teams { margin-top: 10px; }

.teams,
.score { text-align: center; }

.t1,
.t2 {
    text-transform: capitalize;
    color: rgb(99, 0, 156);
}

.t1,
.t2,
.s1,
.s2 {
    text-align: left;
    display: inline-block;
    font-family: serif;
    font-size: 14px;  
}

.s1,
.s2 {
    float: right;
    color: rgb(235, 0, 0);
}
/*club list style end*/

/*match-page style start*/
.page-title { margin-top: 40px; }

.page-title h2 {
    text-align: left;
    padding: 20px 0;
    font-size: 34px;
}

.match-day-content { height: auto; }

.match-day-content h3 {
    text-transform: capitalize;
    text-align: left;
    color: #ef2251;
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}

.matchdayX {
    text-transform: capitalize;
    width: 100%;
    height: 36px;
    padding: 0 8px;
    margin: 40px 0;
    border: 2px solid #048888;
    border-radius: 4px;
    font-size: 18px;
}

.match-details2 {
    width: 90%;
    margin: auto;
}

.match-details2 li {
    width: 250px;
    padding: 20px;
    margin: 0 15px 32px 15px;
    border-radius: 3px;
    display: inline-block;
    background: #f3f9ff;
    -webkit-box-shadow: 0 0 10px black;
    -ms-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -o-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.match-date { 
    display: block;
    font-weight: bold; 
}

.teams2 { 
    width: 65%;
    padding: 12px 0;
    display: inline-block;
}

.tname {
    text-align: center;
    display: block;
}

.tm1,
.tm2 {
    text-align: center;
    display: block;
    font-size: 15px;
    font-family: serif;
    font-weight: bold; 
}

.tm1 { 
    color: #417916;
    padding-top: 12px;
}

.tm2 { color: #411679; }

.sm1,
.sm2 {     
    text-align: center;
    display: block;
}

.sm1 { padding-top: 12px; }

.scores2 {
    width: 35%;
    padding: 12px 0;
    float: right;
}

figcaption { 
    text-transform: capitalize;
    text-align: center;
    padding: 16px 0;
    font-weight: bold;
    font-family: monospace;
    color: rgb(255, 56, 133);
}
/*match-page style end*/

/*js class*/
.error { opacity: 1; }
.btn-disp { display: block; }
.btn-nodisp { display: none; }
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
    width: 100%;
    position: relative;
    bottom: 0;
    background-color:rgba(66, 58, 58, .98);
    
}

.logo h5,
.footer-nav,
.social-links { text-align: center; }

.logo h5 a img { width: 120px; }
.footer-nav { margin-top: 10px; }
.footer-nav li { margin: 0 15px; }

.footer-nav li a {
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.footer-nav li a:hover { text-decoration: underline; }
.social-links { padding: 20px 0; }
.social-links li { display: inline-table; }
.twitter,
.facebook,
.instagram,
.snapchat {
    text-indent: -9999px;
    display: inline-block;
    position: relative;
}

.twitter:after { content: "\f099"; }
.facebook:after { content: "\f09a"; }
.instagram:after { content: "\f16d"; }

.snapchat:after {
     content: "\f2ac";
     border: 1px solid;
}

.twitter:hover:after { color:rgb(29,161,242); }
.facebook:hover:after { color:rgb(16, 134, 245); }
.instagram:hover:after { color:rgb(231, 42, 152); }
.snapchat:hover:after { color:rgb(255, 230, 5); }

.twitter:after,
.facebook:after,
.instagram:after,
.snapchat:after {
    text-align: center;
    text-indent: 0;
    width: 16px;
    padding: 6px 6px;
    border-radius: 16px;
    border: 2px solid #6967676b;
    border-color: #a7a0a0; 
    -webkit-border-radius: 16px;
    -ms-border-radius: 16px;
    -moz-border-radius: 16px;
    -o-border-radius: 16px;
    margin-left: 6px;
    float: right;
    background: #ffffff;
    color: rgb(61, 57, 57);
    font-family: "Fontawesome";
    font-size: 16px;   
}

.copyright {
    text-align: center;
    padding: 10px 0;  
    background: rgba(144, 224, 228,.58);
}

.copyright span {
    text-transform: capitalize;
    color: #dedede;
    font-size: 12px;   
}

.copyright .up { text-transform: uppercase; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
   /*login page media-query*/
   h1 a img { width: 160px; }
   .login-btn { padding: 4px 15px; }
   .modal { left: 330px; }
   h2 { font-size: 15px; }
   label { font-size: 12px; }

   .email,
   .pass { font-size: 12px; }
    
   /*club-list page*/
   .logout-btn { left: 40.5%; }
   .clubs input[type="text"] { width: 97%; }
   .clubList { margin-right: 20px; }
   .teams2 { width: 50%; }
   .scores2 { width: 40%; }
}  
/*media query for 1024px end here*/

/*media query for 995px start here*/
@media only screen and (max-width: 995px) {
    /*login page*/
    h1 a img { width: 140px; }
    .login-btn { padding: 3px 13px; }
    /*logout-btn*/
    .logout-btn { left: 39%; }
    /*match-details page*/
    .teams2 { width: 50%; }
    .scores2 { width: 30%; }
}
/*media query for 1024px end here*/

/*media query for 768px start*/
@media only screen and (max-width: 768px) {
    /*login page media-query*/
    h1 a img { width: 130px; }
    h2 { font-size: 10.6px; }
    .modal { left: 240px; }
    label { font-size: 10px; }

    .email,
    .pass { font-size: 10px; }

    .email-error1,
    .email-error2,
    .pass-error1 {
        font-weight: lighter; 
        font-size:9px;
    }

    .pass-error2 { font-size: 7.56px; }
    /*logout-btn*/
    .logout-btn { left: 20.5%; }
    
    /*home-page*/
    .banner { background-size: 768px 500px; }
    .slides h2 { font-size: 42px; }

    .about-league p,
    .history-of-league p { font-size: 18px; }

    .about-league h3, 
    .history-of-league h3, 
    .awards-div h3 { font-size: 35px; }

    .awards { margin-top:30px; }

    .award-content { 
        width: 54%;
        padding-top: 0;
    }
    .award-content p { 
        padding-top: 29px;
        font-size: 18px;
    }

    /*club-list*/
    .clubs input[type="text"] { width: 96%; }
    .clubList { padding: 25px; }
    /*match details*/
    .match-details2 li { width: 226px; }
    .teams2 { width: 60%; }
    .scores2 { width: 40%; }
}
/*media query for 768px end*/

/*media query for 540px start*/
@media only screen and (max-width: 540px) {
    /*login page media-query*/
    .modal { 
        left: 160px;
        top: 10%;
    }

    .login-form { padding: 20px 0; }

    .submit { 
        padding:2px 10px;
        font-size: 12px; 
    }

    .close-mod:before {
        float: right;
        top: 0;
        font-size: 12px;
    }

    .hamburger { 
        text-indent: -9999px;
        display: inline-block;
        color: white;
    }

    .hamburger::before {
        content: '\f0c9';
        text-indent: 0;
        position: absolute;
        left: 88%;
        font-size: 24px;
        font-family: "Fontawesome";
    }

    .menu { display: none; }
    .menu li { 
        display: block;
        text-align: center;
    }
    .menu li a { margin-right: 0; }
    .logout-btn { display: none; }
    .menu-active {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 30%;
        height: 100vh;
        background: rgba(66, 58, 58, .98);
        display: block;
        position: absolute;
        top: 0;
        left: 70%;
        z-index: 1;
    }
    .no-scroll {
        overflow: hidden;
        scroll-behavior: unset;
    }
    .logout-active {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        left: 70%;
        top: 130px;
        text-align: center;
    }
    .banner { background-size: 540px 500px; }
    .slides h2 { font-size: 32px; }

    .about-league p,
    .history-of-league p { font-size: 15px; }

    .about-league h3, 
    .history-of-league h3, 
    .awards-div h3 { font-size: 28px; }

    .award-content { width: 46%; }

    .award-content p { 
        font-size: 15px;
        padding-top: 5px;
    }

    figure img {
        width: 170px;
        height: 170px;
    }

    .logo h5 a img { width: 100px; }

    .clubList{
        width: 32%;
        margin-right: 20px;
    } 

    .match-details2 li { width: 300px; }
    .teams2 { width: 70%; }
    .scores2 { width: 30%; }
}
/*media query for 540px end*/

/*media query for 320px start*/
@media only screen and (max-width: 320px) {
    /*login-page*/
    .login-page { background-size: 320px 418px; }

    .modal { 
        width: 175px;
        margin: 0 auto;
        top: 5%;
        left: 29px;
    }
    /*home-page*/
    header h1 a img { width: 75px; }
    .hamburger::before { font-size: 20px; }
    
    .menu-active {
        width: 40%;
        left: 60%;
    }

    .menu li a { font-size: 12px; }
    .logout-active { left: 60%; }
    
    .banner {
        height: 148px;
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    .logout { font-size: 8px; }
    .tag-line { padding: 0; }
    .slides h2 { font-size: 18px;}

    .about-league p,
    .history-of-league p { font-size: 12px; }

    .about-league h3, 
    .history-of-league h3, 
    .awards-div h3 { font-size: 18px; }

    .awards {
        width: 100%;
        height: 350px;
    }
    
    .award-content {
        width: 100%;
        display: block;
    }

    .award-content p { font-size: 12px; }

    figure { 
        padding-top: 25px;
        float: none;
    }

    figure img {
        width: 140px;
        height: 140px;
    }
    /*club-list*/
    .clubList {
        width: 70%;
        margin-right: 0;
    }
    /*match-details*/
    .match-details2 li { width: 190px; }
    .teams2 { width: 60%; }
    .scores2 { width: 40%; }
    .list-dropdown h2 { font-size: 25px; }
    .clubs input[type="text"] { width: 92%; }
    .t1, .t2, .s1, .s2 { font-size: 16px; }
    .page-title h2 { font-size: 28px; }
    /*footer*/
    .logo h5 a img { width: 90px; }
    .footer-nav li a { font-size: 11px; }
    .copyright span { font-size: 10px; }
}
/*media query for 320px end*/